body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
  background: #000000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  display:block;
}

main {
  display:block;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  border-color: blue;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid white;
  gap: 1px;
  background-color: white;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
  color: black;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  color: white;
  text-decoration: none;
}

h1 {
  color: white;
}

textarea {
  font-size: 20;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display:inline-block;
}

.logo {
  filter: invert(100);
  width: 100px;
  height: 100px;
}